.message-component {
    display: flex;
    height: 100%;
    width: 100%;
}

.users-list {
    width: 25%;
    border-right: 1px solid #ccc;
    padding: 10px;
    overflow-y: auto;
   
}

.user-item {
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px solid #ddd;
}

.user-item:hover {
    background-color: #f0f0f0;
}

.message-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 80vh;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.messages-list {
    flex: 1;
    overflow-y: auto;
    margin-bottom: 10px;
}

.message-item {
    padding: 5px;
    margin-bottom: 5px;
    border-bottom: 1px solid #ddd;
    color: black;
}

.message-input {
    display: flex;
    align-items: center;
}

.message-input input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
}

.message-input button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
}

.message-input button:hover {
    background-color: #0056b3;
}