
.profilePicture {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin-bottom: 20px;
  background-color: white;
}
.username{
 
  margin-top: 50px;
  margin-left: 20px;
  font-size: 2em;

}

.post {
  background: rgba(255, 255, 255, 0.1);
  height: 350px;
  width: 350px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
}
.postWord{
  margin-left: 45%;
  
}


.profileContain { 
    min-height: 100vh;
    color: white;
    padding: 20px;
    
  }
  
  .top {
    margin-bottom: 30px;
    display:flex;
    margin-left:45%;
    
  }
 
 
  
  
  .postsSection {
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  
  }
  
  